/* Default Settings */
:root{
	/* Blue */
	--jc-blue-lighten-3: #7a9aeb;
	--jc-blue-lighten-2: #6489e8;
	--jc-blue-lighten-1: #4e78e4;
	--jc-blue: #3767e1;
	--jc-blue-darken-1: #2157de;
	--jc-blue-darken-2: #1e4ec8;
	--jc-blue-darken-3: #1b45b1;
	--jc-blue-rgba: rgba(55, 103, 225, 1);
	--jc-blue-rgba-75: rgba(55, 103, 225, 0.75);
	--jc-blue-rgba-50: rgba(55, 103, 225, 0.50);
	--jc-blue-rgba-25: rgba(55, 103, 225, 0.25);

	/* Green */
	--jc-green-lighten-3: #21de53;
	--jc-green-lighten-2: #1ec84b;
	--jc-green-lighten-1: #1bb143;
	--jc-green: #179b3a;
	--jc-green-darken-1: #148532;
	--jc-green-darken-2: #116f2a;
	--jc-green-darken-3: #0d5921;
	--jc-green-rgba: rgba(23, 155, 58, 1);
	--jc-green-rgba-75: rgba(23, 155, 58, 0.75);
	--jc-green-rgba-50: rgba(23, 155, 58, 0.50);
	--jc-green-rgba-25: rgba(23, 155, 58, 0.25);

	/* Red */
	--jc-red-lighten-3: #f07575;
	--jc-red-lighten-2: #ee5d5d;
	--jc-red-lighten-1: #ec4646;
	--jc-red: #e92f2f;
	--jc-red-darken-1: #e71818;
	--jc-red-darken-2: #d01616;
	--jc-red-darken-3: #b91313;
	--jc-red-rgba: rgba(233, 47, 47, 1);
	--jc-red-rgba-75: rgba(233, 47, 47, 0.75);
	--jc-red-rgba-50: rgba(233, 47, 47, 0.50);
	--jc-red-rgba-25: rgba(233, 47, 47, 0.25);

	/* Yellow */
	--jc-yellow-lighten-3: #f5bb56;
	--jc-yellow-lighten-2: #f4b13e;
	--jc-yellow-lighten-1: #f2a726;
	--jc-yellow: #f19c0e;
	--jc-yellow-darken-1: #d98e0d;
	--jc-yellow-darken-2: #c17e0b;
	--jc-yellow-darken-3: #a96e0a;
	--jc-yellow-rgba: rgba(241, 156, 14, 1);
	--jc-yellow-rgba-75: rgba(241, 156, 14, 0.75);
	--jc-yellow-rgba-50: rgba(241, 156, 14, 0.50);
	--jc-yellow-rgba-25: rgba(241, 156, 14, 0.25);

	/* Cyan */
	--jc-cyan-lighten-3: #4eade4;
	--jc-cyan-lighten-2: #37a3e1;
	--jc-cyan-lighten-1: #2199de;
	--jc-cyan: #1e89c8;
	--jc-cyan-darken-1: #1b7ab1;
	--jc-cyan-darken-2: #176b9b;
	--jc-cyan-darken-3: #145c85;
	--jc-cyan-rgba: rgba(30, 137, 200, 1);
	--jc-cyan-rgba-75: rgba(30, 137, 200, 0.75);
	--jc-cyan-rgba-50: rgba(30, 137, 200, 0.50);
	--jc-cyan-rgba-25: rgba(30, 137, 200, 0.25);

	/* Purple */
	--jc-purple-lighten-3: #ac81e4;
	--jc-purple-lighten-2: #9e6ce0;
	--jc-purple-lighten-1: #9057db;
	--jc-purple: #8242d7;
	--jc-purple-darken-1: #742dd2;
	--jc-purple-darken-2: #6928bd;
	--jc-purple-darken-3: #5d24a8;
	--jc-purple-rgba: rgba(130, 66, 215, 1);
	--jc-purple-rgba-75: rgba(130, 66, 215, 0.75);
	--jc-purple-rgba-50: rgba(130, 66, 215, 0.50);
	--jc-purple-rgba-25: rgba(130, 66, 215, 0.25);

	/* Gray */
	--jc-gray-lighten-3: #96979c;
	--jc-gray-lighten-2: #898a90;
	--jc-gray-lighten-1: #7c7d83;
	--jc-gray: #6f7076;
	--jc-gray-darken-1: #636469;
	--jc-gray-darken-2: #57575c;
	--jc-gray-darken-3: #4a4b4f;
	--jc-gray-rgba: rgba(111, 112, 118, 1);
	--jc-gray-rgba-75: rgba(111, 112, 118, 0.75);
	--jc-gray-rgba-50: rgba(111, 112, 118, 0.50);
	--jc-gray-rgba-25: rgba(111, 112, 118, 0.25);

	/* Black */
	--jc-black-lighten-3: #595959;
	--jc-black-lighten-2: #4d4d4d;
	--jc-black-lighten-1: #404040;
	--jc-black: #333333;
	--jc-black-darken-1: #262626;
	--jc-black-darken-2: #1a1a1a;
	--jc-black-darken-3: #0d0d0d;
	--jc-black-rgba: rgba(51, 51, 51, 1);
	--jc-black-rgba-75: rgba(51, 51, 51, 0.75);
	--jc-black-rgba-50: rgba(51, 51, 51, 0.50);
	--jc-black-rgba-25: rgba(51, 51, 51, 0.25);

	/* White */
	--jc-white: #ffffff;
	--jc-white-darken-1: #e6e6e6;
	--jc-white-darken-2: #d9d9d9;
	--jc-white-darken-3: #bfbfbf;
	--jc-white-rgba: rgba(255, 255, 255, 1);
	--jc-white-rgba-75: rgba(255, 255, 255, 0.75);
	--jc-white-rgba-50: rgba(255, 255, 255, 0.50);
	--jc-white-rgba-25: rgba(255, 255, 255, 0.25);

	/* Selection */
	--jc-default-selection-color: #fff;
	--jc-default-selection-background: #21658f;

	/* Text Color */
	--jc-default-text-color: #333333;

	/* Font Size */
	--jc-default-font-size: 1rem;

	/* Font Family */
	--jc-default-font-family: initial;

	/* Link */
	--jc-default-link-color-hover: #2157de;
	--jc-default-link-text-decoration: none;

	/* Border */
	--jc-default-border-color: #c5ccd3;
	--jc-default-border-radius: 0.25rem;

	/* Input */
	--jc-default-input-color: #3767e1;
	--jc-default-input-color-darken-1: #2157de;
	--jc-default-input-color-darken-2: #1e4ec8;
	--jc-default-input-color-darken-3: #1b45b1;
	--jc-default-input-color-rgba: rgba(55, 103, 225, 1);
	--jc-default-input-color-rgba-75: rgba(55, 103, 225, 0.75);
	--jc-default-input-color-rgba-50: rgba(55, 103, 225, 0.50);
	--jc-default-input-color-rgba-25: rgba(55, 103, 225, 0.25);
}

/* JC Animation */
/* Fade In */
@keyframes jc-fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes jc-fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes jc-fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Fade Out */
@keyframes jc-fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@-webkit-keyframes jc-fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@-moz-keyframes jc-fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

/* Zoom In */
@keyframes jc-zoomin {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
@-webkit-keyframes jc-zoomin {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
@-moz-keyframes jc-zoomin {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

/* Zoom Out */
@keyframes jc-zoomout {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}
@-webkit-keyframes jc-zoomout {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}
@-moz-keyframes jc-zoomout {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}

/* JC Selection Color */
::selection{
	background-color: var(--jc-default-selection-background);
	color: var(--jc-default-selection-color);
}

/* JC Default Body */
body{
	color: var(--jc-default-text-color);
	font-size: var(--jc-default-font-size);
	font-family: var(--jc-default-font-family);
	font-weight: 400;
	line-height: 1.5;
}

/* JC Link */
a {
	text-decoration: var(--jc-default-link-text-decoration);
}
a:hover {
	color: var(--jc-default-link-color-hover);
	cursor: pointer;
}

/* JC Text */
.jc-text-size-xx-small{
	font-size: xx-small !important;
}

.jc-text-size-x-small{
	font-size: x-small !important;
}

.jc-text-size-small{
	font-size: small !important;
}

.jc-text-size-medium{
	font-size: medium !important;
}

.jc-text-size-large{
	font-size: large !important;
}

.jc-text-size-x-large{
	font-size: x-large !important;
}

.jc-text-size-xx-large{
	font-size: xx-large !important;
}

.jc-text-size-xxx-large{
	font-size: xxx-large !important;
}

.jc-text-left{
	font-align: left;
}

.jc-text-right{
	font-align: right;
}

.jc-text-center{
	font-align: center;
}

.jc-text-justify{
	font-align: justify;
}

.jc-text-justify-left{
	font-align: justify;
	text-align-last: left;
	-moz-text-align-last: left;
}

.jc-text-justify-right{
	font-align: justify;
	text-align-last: right;
	-moz-text-align-last: right;
}

.jc-text-justify-center{
	font-align: justify;
	text-align-last: center;
	-moz-text-align-last: center;
}

.jc-text-justify-justify{
	font-align: justify;
	text-align-last: justify;
	-moz-text-align-last: justify;
}

.jc-text-uppercase{
	 text-transform: uppercase !important;
}

.jc-text-lowercase{
	 text-transform: lowercase !important;
}

.jc-text-capitalize{
	 text-transform: capitalize !important;
}

.jc-text-decoration-none{
	text-decoration: none !important;
}

.jc-text-decoration-overline{
	text-decoration: overline !important;
}

.jc-text-decoration-line-through{
	text-decoration: line-through !important;
}

.jc-text-decoration-underline{
	text-decoration: underline !important;
}

.jc-text-decoration-underline-overline{
	text-decoration: underline overline !important;
}

.jc-text-indent-1{
	text-indent: 1rem;
}
.jc-text-indent-2{
	text-indent: 2rem;
}
.jc-text-indent-3{
	text-indent: 3rem;
}
.jc-text-indent-4{
	text-indent: 4rem;
}
.jc-text-indent-5{
	text-indent: 5rem;
}

/* JC Text Color */
.jc-text-blue{
	color: var(--jc-blue) !important;
}
a.jc-text-blue:hover{
	color: var(--jc-blue-darken-1) !important;
}

.jc-text-green{
	color: var(--jc-green) !important;
}
a.jc-text-green:hover{
	color: var(--jc-green-darken-1) !important;
}

.jc-text-red{
	color: var(--jc-red) !important;
}
a.jc-text-red:hover{
	color: var(--jc-red-darken-1) !important;
}

.jc-text-yellow{
	color: var(--jc-yellow) !important;
}
a.jc-text-yellow:hover{
	color: var(--jc-yellow-darken-1) !important;
}

.jc-text-cyan{
	color: var(--jc-cyan) !important;
}
a.jc-text-cyan:hover{
	color: var(--jc-cyan-darken-1) !important;
}

.jc-text-purple{
	color: var(--jc-purple) !important;
}
a.jc-text-purple:hover{
	color: var(--jc-purple-darken-1) !important;
}

.jc-text-gray{
	color: var(--jc-gray) !important;
}
a.jc-text-gray:hover{
	color: var(--jc-gray-darken-1) !important;
}

.jc-text-black{
	color: var(--jc-black) !important;
}
a.jc-text-black:hover{
	color: var(--jc-black-darken-1) !important;
}

.jc-text-white{
	color: var(--jc-white) !important;
}
a.jc-text-white:hover{
	color: var(--jc-white-darken-1) !important;
}

/* JC Background Color */
.jc-background-blue{
	background-color: var(--jc-blue) !important;
}

.jc-background-green{
	background-color: var(--jc-green) !important;
}

.jc-background-red{
	background-color: var(--jc-red) !important;
}

.jc-background-yellow{
	background-color: var(--jc-yellow) !important;
}

.jc-background-cyan{
	background-color: var(--jc-cyan) !important;
}

.jc-background-purple{
	background-color: var(--jc-purple) !important;
}

.jc-background-gray{
	background-color: var(--jc-gray) !important;
}

.jc-background-black{
	background-color: var(--jc-black) !important;
}

.jc-background-white{
	background-color: var(--jc-white) !important;
}

/* JC Border Color */
.jc-border-blue{
	border-color: var(--jc-blue) !important;
}

.jc-border-green{
	border-color: var(--jc-green) !important;
}

.jc-border-red{
	border-color: var(--jc-red) !important;
}

.jc-border-yellow{
	border-color: var(--jc-yellow) !important;
}

.jc-border-cyan{
	border-color: var(--jc-cyan) !important;
}

.jc-border-purple{
	border-color: var(--jc-purple) !important;
}

.jc-border-gray{
	border-color: var(--jc-gray) !important;
}

.jc-border-black{
	border-color: var(--jc-black) !important;
}

.jc-border-white{
	border-color: var(--jc-white) !important;
}

/* JC Border */
.jc-border-1{
	border: solid 0.1rem;
}

.jc-border-2{
	border: solid 0.2rem;
}

.jc-border-3{
	border: solid 0.3rem;
}

.jc-border-4{
	border: solid 0.4rem;
}

.jc-border-5{
	border: solid 0.5rem;
}

.jc-border-top-1{
	border-top: solid 0.1rem;
}

.jc-border-top-2{
	border-top: solid 0.2rem;
}

.jc-border-top-3{
	border-top: solid 0.3rem;
}

.jc-border-top-4{
	border-top: solid 0.4rem;
}

.jc-border-top-5{
	border-top: solid 0.5rem;
}

.jc-border-bottom-1{
	border-bottom: solid 0.1rem;
}

.jc-border-bottom-2{
	border-bottom: solid 0.2rem;
}

.jc-border-bottom-3{
	border-bottom: solid 0.3rem;
}

.jc-border-bottom-4{
	border-bottom: solid 0.4rem;
}

.jc-border-bottom-5{
	border-bottom: solid 0.5rem;
}

.jc-border-left-1{
	border-left: solid 0.1rem;
}

.jc-border-left-2{
	border-left: solid 0.2rem;
}

.jc-border-left-3{
	border-left: solid 0.3rem;
}

.jc-border-left-4{
	border-left: solid 0.4rem;
}

.jc-border-left-5{
	border-left: solid 0.5rem;
}

.jc-border-right-1{
	border-right: solid 0.1rem;
}

.jc-border-right-2{
	border-right: solid 0.2rem;
}

.jc-border-right-3{
	border-right: solid 0.3rem;
}

.jc-border-right-4{
	border-right: solid 0.4rem;
}

.jc-border-right-5{
	border-right: solid 0.5rem;
}

/* JC Buttons */
.jc-button{
	display: inline-block;
	color: var(--jc-black);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	vertical-align: middle;
	text-decoration: none !important;
	padding: 0.5rem 1rem;
	border: 1px solid transparent;
	border-radius: var(--jc-default-border-radius);
	cursor: pointer;
	background-color: #eee;
	margin: 0.15rem 0;
	transition: color 0.125s ease-in-out, 
				background-color 0.125s ease-in-out, 
				border-color 0.125s ease-in-out, 
				box-shadow 0.125s ease-in-out;
}
.jc-button:disabled {
	cursor: not-allowed !important;
	pointer-events: all !important;
	opacity: 0.7;
}

.jc-button-label{
	text-align: left;
	padding: 0 !important;
	border-color: rgba(0,0,0,0.125) !important;
	display: inline-flex !important;
	justify-content: center !important;
	align-items: center !important;
}
.jc-button-label-icon{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,0.125);
	margin: -0.0125rem !important;
	position: relative;
	top: 0;
	left: 0;
	padding: 12.2px 16px;
	border-top-left-radius: calc(var(--jc-default-border-radius) - 0.05rem);
	border-bottom-left-radius: calc(var(--jc-default-border-radius) - 0.05rem);
	height: 100%;
}
.jc-button-large > .jc-button-label-icon{
	padding: 13px 19px !important
}
.jc-button-label-text{
	padding: 0 17px 0 17px;
	width: 100% !important;
	text-align: center !important;
}

.jc-button-large{
	padding: 0.5rem 1.75rem;
	font-size: 1.25rem;
}

.jc-button-small{
	padding: 0.35rem 0.85rem;
	font-size: 0.85rem;
}

.jc-button-group{
	position: relative;
	display: inline-flex;
	vertical-align: middle;
}
.jc-button-group > .jc-button-group{
	position: relative;
	flex: 1 1 auto;
}
.jc-button-group > .jc-button-group:hover, .jc-button-group > .jc-button-group:focus{
	z-index: 1;
}
.jc-button-group > .jc-button:not(:last-child), .jc-button-group > .jc-button-group:not(:last-child) > .jc-button {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.jc-button-group > .jc-button:nth-child(n+3), .jc-button-group > :not(.jc-button-check) + .jc-button, .jc-button-group > .jc-button-group:not(:first-child) > .jc-button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.jc-button-full{
	width: 100% !important;
}

.jc-button-square{
	border-radius: var(--jc-default-border-radius);
	height: 2.5rem;
	width: 2.5rem;
	font-size: 1rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.jc-button-square.jc-button-large{
	height: 3.5rem;
	width: 3.5rem;
	font-size: 1.35rem;
	padding: 0;
}
.jc-button-square.jc-button-small{
	height: 2rem;
	width: 2rem;
	font-size: 0.85rem;
	padding: 0;
}

.jc-button-circle{
	border-radius: 100%;
	height: 2.5rem;
	width: 2.5rem;
	font-size: 1rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.jc-button-circle.jc-button-large{
	height: 3.5rem;
	width: 3.5rem;
	font-size: 1.35rem;
	padding: 0;
}
.jc-button-circle.jc-button-small{
	height: 2rem;
	width: 2rem;
	font-size: 0.85rem;
	padding: 0;
}

.jc-button-blue{
	background-color: var(--jc-blue);
	border-color: var(--jc-blue);
	color: var(--jc-white);
}
.jc-button-blue:hover{
	background-color: var(--jc-blue-darken-1);
	border-color: var(--jc-blue-darken-2);
	color: var(--jc-white);
}
.jc-button-blue:focus{
	box-shadow: 0 0 0 0.25rem var(--jc-blue-rgba-50);
}

.jc-button-green, .jc-confirm-button{
	background-color: var(--jc-green);
	border-color: var(--jc-green);
	color: var(--jc-white);
}
.jc-button-green:hover, .jc-confirm-button:hover{
	background-color: var(--jc-green-darken-1);
	border-color: var(--jc-green-darken-2);
	color: var(--jc-white);
}
.jc-button-green:focus, .jc-confirm-button:focus{
	box-shadow: 0 0 0 0.25rem var(--jc-green-rgba-50);
}

.jc-button-red, .jc-cancel-button{
	background-color: var(--jc-red);
	border-color: var(--jc-red);
	color: var(--jc-white);
}
.jc-button-red:hover, .jc-cancel-button:hover{
	background-color: var(--jc-red-darken-1);
	border-color: var(--jc-red-darken-2);
	color: var(--jc-white);
}
.jc-button-red:focus, .jc-cancel-button:focus{
	box-shadow: 0 0 0 0.25rem var(--jc-red-rgba-50);
}

.jc-button-yellow{
	background-color: var(--jc-yellow);
	border-color: var(--jc-yellow);
	color: var(--jc-white);
}
.jc-button-yellow:hover{
	background-color: var(--jc-yellow-darken-1);
	border-color: var(--jc-yellow-darken-2);
	color: var(--jc-white);
}
.jc-button-yellow:focus{
	box-shadow: 0 0 0 0.25rem var(--jc-yellow-rgba-50);
}

.jc-button-cyan{
	background-color: var(--jc-cyan);
	border-color: var(--jc-cyan);
	color: var(--jc-white);
}
.jc-button-cyan:hover{
	background-color: var(--jc-cyan-darken-1);
	border-color: var(--jc-cyan-darken-2);
	color: var(--jc-white);
}
.jc-button-cyan:focus{
	box-shadow: 0 0 0 0.25rem var(--jc-cyan-rgba-50);
}

.jc-button-purple{
	background-color: var(--jc-purple);
	border-color: var(--jc-purple);
	color: var(--jc-white);
}
.jc-button-purple:hover{
	background-color: var(--jc-purple-darken-1);
	border-color: var(--jc-purple-darken-2);
	color: var(--jc-white);
}
.jc-button-purple:focus{
	box-shadow: 0 0 0 0.25rem var(--jc-purple-rgba-50);
}

.jc-button-gray, .jc-close-button{
	background-color: var(--jc-gray);
	border-color: var(--jc-gray);
	color: var(--jc-white);
}
.jc-button-gray:hover, .jc-close-button:hover{
	background-color: var(--jc-gray-darken-1);
	border-color: var(--jc-gray-darken-2);
	color: var(--jc-white);
}
.jc-button-gray:focus, .jc-close-button:focus{
	box-shadow: 0 0 0 0.25rem var(--jc-gray-rgba-50);
}

.jc-button-black{
	background-color: var(--jc-black);
	border-color: var(--jc-black);
	color: var(--jc-white);
}
.jc-button-black:hover{
	background-color: var(--jc-black-darken-1);
	border-color: var(--jc-black-darken-2);
	color: var(--jc-white);
}
.jc-button-black:focus{
	box-shadow: 0 0 0 0.25rem var(--jc-black-rgba-50);
}

.jc-button-white{
	background-color: var(--jc-white);
	border-color: var(--jc-white-darken-3);
	color: var(--jc-black);
}
.jc-button-white:hover{
	background-color: var(--jc-white-darken-1);
	border-color: var(--jc-white-darken-3);
	color: var(--jc-black);
}
.jc-button-white:focus{
	box-shadow: 0 0 0 0.25rem var(--jc-white-rgba-50);
}

.jc-button-outline-blue{
	background-color: transparent;
	border-color: var(--jc-blue);
	color: var(--jc-blue);
}
.jc-button-outline-blue:hover{
	background-color: var(--jc-blue);
	border-color: var(--jc-blue);
	color: var(--jc-white);
}
.jc-button-outline-blue:focus{
	box-shadow: 0 0 0 0.25rem var(--jc-blue-rgba-50);
}

.jc-button-outline-green{
	background-color: transparent;
	border-color: var(--jc-green);
	color: var(--jc-green);
}
.jc-button-outline-green:hover{
	background-color: var(--jc-green);
	border-color: var(--jc-green);
	color: var(--jc-white);
}
.jc-button-outline-green:focus{
	box-shadow: 0 0 0 0.25rem var(--jc-green-rgba-50);
}

.jc-button-outline-red{
	background-color: transparent;
	border-color: var(--jc-red);
	color: var(--jc-red);
}
.jc-button-outline-red:hover{
	background-color: var(--jc-red);
	border-color: var(--jc-red);
	color: var(--jc-white);
}
.jc-button-outline-red:focus{
	box-shadow: 0 0 0 0.25rem var(--jc-red-rgba-50);
}

.jc-button-outline-yellow{
	background-color: transparent;
	border-color: var(--jc-yellow);
	color: var(--jc-yellow);
}
.jc-button-outline-yellow:hover{
	background-color: var(--jc-yellow);
	border-color: var(--jc-yellow);
	color: var(--jc-white);
}
.jc-button-outline-yellow:focus{
	box-shadow: 0 0 0 0.25rem var(--jc-yellow-rgba-50);
}

.jc-button-outline-cyan{
	background-color: transparent;
	border-color: var(--jc-cyan);
	color: var(--jc-cyan);
}
.jc-button-outline-cyan:hover{
	background-color: var(--jc-cyan);
	border-color: var(--jc-cyan);
	color: var(--jc-white);
}
.jc-button-outline-cyan:focus{
	box-shadow: 0 0 0 0.25rem var(--jc-cyan-rgba-50);
}

.jc-button-outline-purple{
	background-color: transparent;
	border-color: var(--jc-purple);
	color: var(--jc-purple);
}
.jc-button-outline-purple:hover{
	background-color: var(--jc-purple);
	border-color: var(--jc-purple);
	color: var(--jc-white);
}
.jc-button-outline-purple:focus{
	box-shadow: 0 0 0 0.25rem var(--jc-purple-rgba-50);
}

.jc-button-outline-gray{
	background-color: transparent;
	border-color: var(--jc-gray);
	color: var(--jc-gray);
}
.jc-button-outline-gray:hover{
	background-color: var(--jc-gray);
	border-color: var(--jc-gray);
	color: var(--jc-white);
}
.jc-button-outline-gray:focus{
	box-shadow: 0 0 0 0.25rem var(--jc-gray-rgba-50);
}

.jc-button-outline-black{
	background-color: transparent;
	border-color: var(--jc-black);
	color: var(--jc-black);
}
.jc-button-outline-black:hover{
	background-color: var(--jc-black);
	border-color: var(--jc-black);
	color: var(--jc-white);
}
.jc-button-outline-black:focus{
	box-shadow: 0 0 0 0.25rem var(--jc-black-rgba-50);
}

.jc-button-outline-white{
	background-color: transparent;
	border-color: var(--jc-white);
	color: var(--jc-white);
}
.jc-button-outline-white:hover{
	background-color: var(--jc-white);
	border-color: var(--jc-white);
	color: var(--jc-white);
}
.jc-button-outline-white:focus{
	box-shadow: 0 0 0 0.25rem var(--jc-white-rgba-50);
}

/* Label */
.jc-label {
	margin-bottom: 0.5rem;
}

/* JC Inputs */
.jc-input{
	display: block;
	width: 100%;
	padding: 0.5rem 1rem;
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--jc-black);
	background-color: var(--jc-white);
	background-clip: padding-box;
	border: 1px solid var(--jc-default-border-color);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: var(--jc-default-border-radius);
	transition: 
		border-color 0.15s ease-in-out, 
		box-shadow 0.15s ease-in-out;
}
.jc-input:focus {
	color: var(--jc-black);
	background-color: var(--jc-white);
	border-color: var(--jc-default-input-color);
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--jc-default-input-color-rgba-25);
}
.jc-input::placeholder {
	color: var(--jc-black-lighten-2);
	opacity: 1;
}
.jc-input:disabled, .jc-input[readonly] {
	background-color: rgba(0,0,0,0.075);
	opacity: 1;
	cursor: not-allowed !important;
	pointer-events: all !important;
}

.jc-input[type=file] {
	overflow: hidden;
}
.jc-input[type=file]:not(:disabled):not([readonly]) {
	cursor: pointer;
}
.jc-input::file-selector-button {
	padding: 0.5rem 1rem;
	margin: -0.5rem -1rem;
	-webkit-margin-end: 1rem;
	margin-inline-end: 1rem;
	color: var(--jc-black);
	background-color: rgba(0,0,0,0.1);
	pointer-events: none;
	border-color: inherit;
	border-style: solid;
	border-width: 0;
	border-inline-end-width: 1px;
	border-radius: 0;
	transition: 
		color 0.15s ease-in-out, 
		background-color 0.15s ease-in-out, 
		border-color 0.15s ease-in-out, 
		box-shadow 0.15s ease-in-out;
}
.jc-input:hover:not(:disabled):not([readonly])::file-selector-button {
	background-color: rgba(0,0,0,0.15);
}

.jc-input[type=color]{
	width: 3rem;
	height: auto;
	padding: 0.55rem;
}
.jc-input[type=color]:not(:disabled):not([readonly]) {
	cursor: pointer;
}
.jc-input[type=color]::-moz-color-swatch {
	height: 1.5em;
	border-radius: var(--jc-default-border-radius);
}
.jc-input[type=color]::-webkit-color-swatch {
	height: 1.5em;
	border-radius: var(--jc-default-border-radius);
}

select.jc-input{
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 1rem center;
	background-size: 16px 12px;
	padding-right: 40px;
}
select.jc-input[multiple], select.jc-input[size]:not([size="1"]) {
	background-image: none;
}

.jc-input-small:not([type=range]){
	padding: 0.35rem 1rem;
	font-size: 0.85rem;
}

.jc-input-large:not([type=range]){
	padding: 0.75rem 1rem;
	font-size: 1.25rem;
}
.jc-input.jc-input-large:not([type=range])::file-selector-button{
	font-size: 1.25rem;
	padding: 0.75rem 1rem;
	margin: -0.75rem -1rem;
	-webkit-margin-end: 1.25rem;
	margin-inline-end: 1.25rem;
}

input[type=range].jc-input-range{
	width: 100%;
	height: 1.5rem;
	padding: 0;
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input[type=range].jc-input-range:focus {
	outline: 0;
}
input[type=range].jc-input-range:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--jc-default-input-color-rgba-25);
}
input[type=range].jc-input-range:focus::-moz-range-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--jc-default-input-color-rgba-25);
}
input[type=range].jc-input-range::-moz-focus-outer {
	border: 0;
}
input[type=range].jc-input-range::-webkit-slider-thumb {
	width: 1rem;
	height: 1rem;
	margin-top: -0.25rem;
	background-color: var(--jc-default-input-color);
	border: 0;
	border-radius: 1rem;
	-webkit-transition: 
		background-color 0.15s ease-in-out, 
		border-color 0.15s ease-in-out, 
		box-shadow 0.15s ease-in-out;
	transition: 
		background-color 0.15s ease-in-out, 
		border-color 0.15s ease-in-out, 
		box-shadow 0.15s ease-in-out;
	-webkit-appearance: none;
	appearance: none;
}
input[type=range].jc-input-range::-webkit-slider-thumb:active {
	background-color: var(--jc-default-input-color-darken-1);
}
input[type=range].jc-input-range::-webkit-slider-runnable-track {
	width: 100%;
	height: 0.5rem;
	color: transparent;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.125);
	border-color: transparent;
	border-radius: 1rem;
}
input[type=range].jc-input-range::-moz-range-thumb {
	width: 1rem;
	height: 1rem;
	background-color: var(--jc-default-input-color);
	border: 0;
	border-radius: 1rem;
	-moz-transition: 
		background-color 0.15s ease-in-out, 
		border-color 0.15s ease-in-out, 
		box-shadow 0.15s ease-in-out;
	transition: 
		background-color 0.15s ease-in-out, 
		border-color 0.15s ease-in-out, 
		box-shadow 0.15s ease-in-out;
	-moz-appearance: none;
	appearance: none;
}
input[type=range].jc-input-range::-moz-range-thumb:active {
	background-color: var(--jc-default-input-color-darken-1);
}
input[type=range].jc-input-range::-moz-range-track {
	width: 100%;
	height: 0.5rem;
	color: transparent;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.125);
	border-color: transparent;
	border-radius: 1rem;
}
input[type=range].jc-input-range:disabled {
	pointer-events: none;
}
input[type=range].jc-input-range:disabled::-webkit-slider-thumb {
	background-color: rgba(0,0,0,0.15);
}
input[type=range].jc-input-range:disabled::-moz-range-thumb {
	background-color: rgba(0,0,0,0.15);
}

.jc-check-group {
	display: block;
	min-height: 1.5rem;
	padding-left: 1.5em;
	margin-bottom: 0.125rem;
}
.jc-check-group .jc-input-check {
	float: left;
	margin-left: -1.5em;
}
.jc-check-group.jc-check-group-inline {
	display: inline-block;
	margin-right: 1rem;
}

.jc-input-check {
	width: 1em;
	height: 1em;
	margin-top: 0.25em;
	vertical-align: top;
	background-color: var(--jc-white);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 1px solid var(--jc-default-border-color);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.jc-input-check[type=checkbox] {
	border-radius: var(--jc-default-border-radius);
}
.jc-input-check[type=radio] {
	border-radius: 50%;
}
.jc-input-check:active {
	filter: brightness(90%);
}
.jc-input-check:focus {
	border-color: var(--jc-default-input-color);
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--jc-default-input-color-rgba-25);
}
.jc-input-check:checked {
	background-color: var(--jc-default-input-color);
	border-color: var(--jc-default-input-color-darken-1);
}
.jc-input-check:checked[type=checkbox] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.jc-input-check:checked[type=radio] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
.jc-input-check[type=checkbox]:indeterminate {
	background-color: var(--jc-default-input-color);
	border-color: var(--jc-default-input-color);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}
.jc-input-check:disabled {
	pointer-events: none;
	filter: none;
	opacity: 0.5;
}
.jc-input-check[disabled] ~ .jc-label, .jc-input-check:disabled ~ .jc-label {
	opacity: 0.5;
}

.jc-check-switch {
	padding-left: 2.5em;
}
.jc-check-switch .jc-input-check {
	width: 2em;
	margin-left: -2.5em;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
	background-position: left center;
	border-radius: 2em;
	transition: background-position 0.15s ease-in-out;
}
.jc-check-switch .jc-input-check:focus {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29' /%3e%3c/svg%3e");
}
.jc-check-switch .jc-input-check:checked {
	background-position: right center;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.jc-input-group {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
}
.jc-input-group > .jc-input {
	position: relative;
	flex: 1 1 auto;
	width: 1%;
	min-width: 0;
}
.jc-input-group > .jc-input:focus {
	z-index: 3;
}
.jc-input-group .jc-button {
	position: relative;
	z-index: 2;
}
.jc-input-group .jc-button:focus {
	z-index: 3;
}

.jc-input-group-text {
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--jc-black);
	text-align: center;
	white-space: nowrap;
	background-color: rgba(0,0,0,0.1);;
	border: 1px solid var(--jc-default-border-color);
	border-radius: var(--jc-default-border-radius);
}

.jc-input-group-large > .jc-input,
.jc-input-group-large > .jc-input-group-text,
.jc-input-group-large > .jc-button {
	padding: 0.75rem 1rem;
	font-size: 1.25rem;
}

.jc-input-group-small > .jc-input,
.jc-input-group-small > .jc-input-group-text,
.jc-input-group-small > .jc-button {
	padding: 0.35rem 1rem;
	font-size: 0.85rem;
}

.jc-input-group > :not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.jc-input-group > :not(:first-child) {
	margin-left: -1px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.jc-input-blue{
	border-color: var(--jc-blue) !important;
}
.jc-input-blue:focus, .jc-input-focus-blue:focus{
	border-color: var(--jc-blue) !important;
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--jc-blue-rgba-25) !important;
}

.jc-input-green{
	border-color: var(--jc-green) !important;
}
.jc-input-green:focus, .jc-input-focus-green:focus{
	border-color: var(--jc-green) !important;
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--jc-green-rgba-25) !important;
}

.jc-input-red{
	border-color: var(--jc-red) !important;
}
.jc-input-red:focus, .jc-input-focus-red:focus{
	border-color: var(--jc-red) !important;
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--jc-red-rgba-25) !important;
}

.jc-input-yellow{
	border-color: var(--jc-yellow) !important;
}
.jc-input-yellow:focus, .jc-input-focus-yellow:focus{
	border-color: var(--jc-yellow) !important;
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--jc-yellow-rgba-25) !important;
}

.jc-input-cyan{
	border-color: var(--jc-cyan) !important;
}
.jc-input-cyan:focus, .jc-input-focus-cyan:focus{
	border-color: var(--jc-cyan) !important;
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--jc-cyan-rgba-25) !important;
}

.jc-input-purple{
	border-color: var(--jc-purple) !important;
}
.jc-input-purple:focus, .jc-input-focus-purple:focus{
	border-color: var(--jc-purple) !important;
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--jc-purple-rgba-25) !important;
}

.jc-input-gray{
	border-color: var(--jc-gray) !important;
}
.jc-input-gray:focus, .jc-input-focus-gray:focus{
	border-color: var(--jc-gray) !important;
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--jc-gray-rgba-25) !important;
}

.jc-input-black{
	border-color: var(--jc-black) !important;
}
.jc-input-black:focus, .jc-input-focus-black:focus{
	border-color: var(--jc-black) !important;
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--jc-black-rgba-25) !important;
}

.jc-input-white{
	border-color: var(--jc-white) !important;
}
.jc-input-white:focus, .jc-input-focus-white:focus{
	border-color: var(--jc-white) !important;
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--jc-white-rgba-25) !important;
}

input[type=range].jc-input-range-blue::-webkit-slider-thumb {
	background-color: var(--jc-blue);
}
input[type=range].jc-input-range-blue::-webkit-slider-thumb:active {
	background-color: var(--jc-blue-darken-1);
}
input[type=range].jc-input-range-blue:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--jc-blue-rgba-25);
}

input[type=range].jc-input-range-blue::-moz-slider-thumb {
	background-color: var(--jc-blue);
}
input[type=range].jc-input-range-blue::-moz-slider-thumb:active{
	background-color: var(--jc-blue-darken-1);
}
input[type=range].jc-input-range-blue:focus::-moz-range-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--jc-blue-rgba-25);
}

input[type=range].jc-input-range-green::-webkit-slider-thumb {
	background-color: var(--jc-green);
}
input[type=range].jc-input-range-green::-webkit-slider-thumb:active{
	background-color: var(--jc-green-darken-1);
}
input[type=range].jc-input-range-green:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--jc-green-rgba-25);
}

input[type=range].jc-input-range-green::-moz-slider-thumb {
	background-color: var(--jc-green);
}
input[type=range].jc-input-range-green::-moz-slider-thumb:active  {
	background-color: var(--jc-green-darken-1);
}
input[type=range].jc-input-range-green:focus::-moz-range-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--jc-green-rgba-25);
}

input[type=range].jc-input-range-red::-webkit-slider-thumb {
	background-color: var(--jc-red);
}
input[type=range].jc-input-range-red::-webkit-slider-thumb:active {
	background-color: var(--jc-red-darken-1);
}
input[type=range].jc-input-range-red:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--jc-red-rgba-25);
}

input[type=range].jc-input-range-red::-moz-slider-thumb {
	background-color: var(--jc-red);
}
input[type=range].jc-input-range-red::-moz-slider-thumb:active {
	background-color: var(--jc-red-darken-1);
}
input[type=range].jc-input-range-red:focus::-moz-range-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--jc-red-rgba-25);
}

input[type=range].jc-input-range-yellow::-webkit-slider-thumb {
	background-color: var(--jc-yellow);
}
input[type=range].jc-input-range-yellow::-webkit-slider-thumb:active{
	background-color: var(--jc-yellow-darken-1);
}
input[type=range].jc-input-range-yellow:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--jc-yellow-rgba-25);
}

input[type=range].jc-input-range-yellow::-moz-slider-thumb {
	background-color: var(--jc-yellow);
}
input[type=range].jc-input-range-yellow::-moz-slider-thumb:active  {
	background-color: var(--jc-yellow-darken-1);
}
input[type=range].jc-input-range-yellow:focus::-moz-range-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--jc-yellow-rgba-25);
}

input[type=range].jc-input-range-cyan::-webkit-slider-thumb {
	background-color: var(--jc-cyan);
}
input[type=range].jc-input-range-cyan::-webkit-slider-thumb:active{
	background-color: var(--jc-cyan-darken-1);
}
input[type=range].jc-input-range-cyan:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--jc-cyan-rgba-25);
}

input[type=range].jc-input-range-cyan::-moz-slider-thumb {
	background-color: var(--jc-cyan);
}
input[type=range].jc-input-range-cyan::-moz-slider-thumb:active  {
	background-color: var(--jc-cyan-darken-1);
}
input[type=range].jc-input-range-cyan:focus::-moz-range-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--jc-cyan-rgba-25);
}

input[type=range].jc-input-range-purple::-webkit-slider-thumb {
	background-color: var(--jc-purple);
}
input[type=range].jc-input-range-purple::-webkit-slider-thumb:active{
	background-color: var(--jc-purple-darken-1);
}
input[type=range].jc-input-range-purple:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--jc-purple-rgba-25);
}

input[type=range].jc-input-range-purple::-moz-slider-thumb {
	background-color: var(--jc-purple);
}
input[type=range].jc-input-range-purple::-moz-slider-thumb:active  {
	background-color: var(--jc-purple-darken-1);
}
input[type=range].jc-input-range-purple:focus::-moz-range-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--jc-purple-rgba-25);
}

input[type=range].jc-input-range-gray::-webkit-slider-thumb {
	background-color: var(--jc-gray);
}
input[type=range].jc-input-range-gray::-webkit-slider-thumb:active{
	background-color: var(--jc-gray-darken-1);
}
input[type=range].jc-input-range-gray:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--jc-gray-rgba-25);
}

input[type=range].jc-input-range-gray::-moz-slider-thumb {
	background-color: var(--jc-gray);
}
input[type=range].jc-input-range-gray::-moz-slider-thumb:active  {
	background-color: var(--jc-gray-darken-1);
}
input[type=range].jc-input-range-gray:focus::-moz-range-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--jc-gray-rgba-25);
}

input[type=range].jc-input-range-black::-webkit-slider-thumb {
	background-color: var(--jc-black);
}
input[type=range].jc-input-range-black::-webkit-slider-thumb:active{
	background-color: var(--jc-black-darken-1);
}
input[type=range].jc-input-range-black:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--jc-black-rgba-25);
}

input[type=range].jc-input-range-black::-moz-slider-thumb {
	background-color: var(--jc-black);
}
input[type=range].jc-input-range-black::-moz-slider-thumb:active  {
	background-color: var(--jc-black-darken-1);
}
input[type=range].jc-input-range-black:focus::-moz-range-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--jc-black-rgba-25);
}

input[type=range].jc-input-range-white::-webkit-slider-thumb {
	background-color: var(--jc-white);
}
input[type=range].jc-input-range-white::-webkit-slider-thumb:active{
	background-color: var(--jc-white-darken-1);
}
input[type=range].jc-input-range-white:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--jc-white-rgba-25);
}

input[type=range].jc-input-range-white::-moz-slider-thumb {
	background-color: var(--jc-white);
}
input[type=range].jc-input-range-white::-moz-slider-thumb:active  {
	background-color: var(--jc-white-darken-1);
}
input[type=range].jc-input-range-white:focus::-moz-range-thumb {
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem var(--jc-white-rgba-25);
}

.jc-input-check-blue:focus {
	border-color: var(--jc-blue);
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--jc-blue-rgba-25);
}
.jc-input-check-blue:checked {
	background-color: var(--jc-blue);
	border-color: var(--jc-blue-darken-1);
}

.jc-input-check-green:focus {
	border-color: var(--jc-green);
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--jc-green-rgba-25);
}
.jc-input-check-green:checked {
	background-color: var(--jc-green);
	border-color: var(--jc-green-darken-1);
}

.jc-input-check-red:focus {
	border-color: var(--jc-red);
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--jc-red-rgba-25);
}
.jc-input-check-red:checked {
	background-color: var(--jc-red);
	border-color: var(--jc-red-darken-1);
}

.jc-input-check-yellow:focus {
	border-color: var(--jc-yellow);
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--jc-yellow-rgba-25);
}
.jc-input-check-yellow:checked {
	background-color: var(--jc-yellow);
	border-color: var(--jc-yellow-darken-1);
}

.jc-input-check-cyan:focus {
	border-color: var(--jc-cyan);
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--jc-cyan-rgba-25);
}
.jc-input-check-cyan:checked {
	background-color: var(--jc-cyan);
	border-color: var(--jc-cyan-darken-1);
}

.jc-input-check-purple:focus {
	border-color: var(--jc-purple);
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--jc-purple-rgba-25);
}
.jc-input-check-purple:checked {
	background-color: var(--jc-purple);
	border-color: var(--jc-purple-darken-1);
}

.jc-input-check-gray:focus {
	border-color: var(--jc-gray);
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--jc-gray-rgba-25);
}
.jc-input-check-gray:checked {
	background-color: var(--jc-gray);
	border-color: var(--jc-gray-darken-1);
}

.jc-input-check-black:focus {
	border-color: var(--jc-black);
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--jc-black-rgba-25);
}
.jc-input-check-black:checked {
	background-color: var(--jc-black);
	border-color: var(--jc-black-darken-1);
}

.jc-input-check-white:focus {
	border-color: var(--jc-white);
	outline: 0;
	box-shadow: 0 0 0 0.25rem var(--jc-white-rgba-25);
}
.jc-input-check-white:checked {
	background-color: var(--jc-white);
	border-color: var(--jc-white-darken-1);
}

/* JC Card */
.jc-card {
	position: relative;
	flex: 1 1 auto;
	flex-direction: column;
	width: 100%;
	min-width: 0;
	min-height: 1px;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	padding: 1.25rem;
	border-radius: var(--jc-default-border-radius);
}
.jc-card.jc-card-border{
	border: 1px solid var(--jc-default-border-color);
}
.jc-card hr {
	background-color: var(--jc-default-border-color);
	opacity: 1;
	margin: 20px 0px 20px -20px !important;
	width: calc(100% + 40px) !important;
}

.jc-card.jc-card-blue{
	border-left: 0.4rem solid var(--jc-blue);
}

.jc-card.jc-card-green{
	border-left: 0.4rem solid var(--jc-green);
}

.jc-card.jc-card-red{
	border-left: 0.4rem solid var(--jc-red);
}

.jc-card.jc-card-yellow{
	border-left: 0.4rem solid var(--jc-yellow);
}

.jc-card.jc-card-cyan{
	border-left: 0.4rem solid var(--jc-cyan);
}

.jc-card.jc-card-purple{
	border-left: 0.4rem solid var(--jc-purple);
}

.jc-card.jc-card-gray{
	border-left: 0.4rem solid var(--jc-gray);
}

.jc-card.jc-card-black{
	border-left: 0.4rem solid var(--jc-black);
}

.jc-card.jc-card-justify-center{
	height: 100%;
	display: flex;
	justify-content: center;
}

/* JC Toast */
.jc-toast-box {
	display: block; 
	position: fixed; 
	z-index: 10000;
	width: 380px; 
	margin: 0; 
	padding: 0; 
	pointer-events: none; 
	letter-spacing: normal; 
}
.jc-toast-box * { 
	margin: 0; 
	padding: 0;
}
@media screen and (max-width: 766px) {
	.jc-toast-box {
		width: calc(100% - 40px);
	}
}

.jc-toast-box.bottom-left {
	bottom: 20px; 
	left: 20px;
}
.jc-toast-box.bottom-right {
	bottom: 20px; 
	right: 20px;
}
.jc-toast-box.top-left {
	top: 20px;
	left: 20px;
}
.jc-toast-box.top-right {
	top: 20px;
	right: 20px;
}

.jc-toast {
	width: 100%;
	margin-bottom: 8px; 
	color: #fff;
	background-color: #f00;
	pointer-events: all !important; 
	box-shadow: 0 0 2px 0.125rem rgb(0 0 0 / 15%);
}
.jc-toast.show{
	animation: jc-fadein 0.4s linear forwards;
	-webkit-animation: jc-fadein 0.4s linear forwards;
	-moz-animation: jc-fadein 0.4s linear forwards;
}
.jc-toast.close{
	animation: jc-fadeout 0.4s linear forwards;
	-webkit-animation: jc-fadeout 0.4s linear forwards;
	-moz-animation: jc-fadeout 0.4s linear forwards;
}
.jc-toast.rounded{
	border-radius: var(--jc-default-border-radius);
}

.jc-toast .jc-toast-progress-bar{
	width: 0%;
	height: 4px;
	background: #fff;
	float: left;
	position: absolute;
	z-index: 1;
}
.jc-toast.inverse .jc-toast-progress-bar{
	background: rgba(0, 0, 0, 0.25) !important;
	margin-left: 4px;
	border-top-left-radius: 0 !important;
	max-width: calc(100% - 4px) !important;
}

.jc-toast.rounded .jc-toast-progress-bar{
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.jc-toast .jc-toast-main{
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.jc-toast .jc-toast-main .jc-toast-icon{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	position: relative;
	top: 0;
	left: 0;
	padding: 36px 18px;
	height: 100%;
	background: rgba(0, 0, 0, 0.125);
}
.jc-toast.rounded .jc-toast-main .jc-toast-icon{
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}
.jc-toast.inverse .jc-toast-main .jc-toast-icon{
	background: none;
	padding: 36px 16px 36px 16px;
}

.jc-toast .jc-toast-main .jc-toast-content{
	width: 100%;
	padding: 8px;
}

.jc-toast-progress-bar + .jc-toast-main > .jc-toast-icon {
	padding: 40px 18px !important;
}
.jc-toast-progress-bar + .jc-toast-main > .jc-toast-content {
	padding-top: 12px !important;
}

.jc-toast .jc-toast-main .jc-toast-close{
	padding: 8px;
	height: 100%;
}
.jc-toast .jc-toast-main .jc-toast-close .jc-toast-button-close{
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 1rem;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	fill: #fff;
	background: rgba(0, 0, 0, 0.125);
}
.jc-toast .jc-toast-main .jc-toast-close .jc-toast-button-close:hover{
	fill: #fff;
	background: rgba(0, 0, 0, 0.25);
}

.jc-toast.inverse .jc-toast-main .jc-toast-close .jc-toast-button-close{
	fill: #333;
	background: #d9d9d9;
}
.jc-toast.inverse .jc-toast-main .jc-toast-close .jc-toast-button-close:hover{
	fill: #333;
	background: #bfbfbf;
}

.jc-toast .jc-toast-main .jc-toast-content .jc-toast-title{
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-size: 16px;
	font-weight: 500;
}

.jc-toast .jc-toast-main .jc-toast-content .jc-toast-message, .jc-toast .jc-toast-main .jc-toast-content .jc-toast-html{
	font-size: 13px;
	word-break: break-word;
}

.jc-toast-success{
	background-color: var(--jc-green);
	color: var(--jc-white);
	fill: #fff;
}
.jc-toast-success.inverse{
	background-color: var(--jc-white);
	color: var(--jc-black);
	fill: var(--jc-green);
}
.jc-toast-success.inverse .jc-toast-icon{
	border-left: 4px solid var(--jc-green);
}

.jc-toast-error{
	background-color: var(--jc-red);
	color: var(--jc-white);
	fill: #fff;
}
.jc-toast-error.inverse{
	background-color: var(--jc-white);
	color: var(--jc-black);
	fill: var(--jc-red);
}
.jc-toast-error.inverse .jc-toast-icon{
	border-left: 4px solid var(--jc-red);
}

.jc-toast-warning{
	background-color: var(--jc-yellow);
	color: var(--jc-white);
	fill: #fff;
}
.jc-toast-warning.inverse{
	background-color: var(--jc-white);
	color: var(--jc-black);
	fill: var(--jc-yellow);
}
.jc-toast-warning.inverse .jc-toast-icon{
	border-left: 4px solid var(--jc-yellow);
}

.jc-toast-info{
	background-color: var(--jc-cyan);
	color: var(--jc-white);
	fill: #fff;
}
.jc-toast-info.inverse{
	background-color: var(--jc-white);
	color: var(--jc-black);
	fill: var(--jc-cyan);
}
.jc-toast-info.inverse .jc-toast-icon{
	border-left: 4px solid var(--jc-cyan);
}

.jc-toast-default{
	background-color: var(--jc-purple);
	color: var(--jc-white);
	fill: #fff;
}
.jc-toast-default.inverse{
	background-color: var(--jc-white);
	color: var(--jc-black);
	fill: var(--jc-purple);
}
.jc-toast-default.inverse .jc-toast-icon{
	border-left: 4px solid var(--jc-purple);
}

/* JC Popup */
.jc-popup-box{
	overflow: hidden;
}

.jc-popup{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1100;
	padding: 20px;
}

.jc-popup .jc-popup-backdrop{
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.jc-popup.show > .jc-popup-backdrop{
	animation: jc-fadein 0.2s linear forwards;
	-webkit-animation: jc-fadein 0.2s linear forwards;
	-moz-animation: jc-fadein 0.2s linear forwards;
}
.jc-popup.close > .jc-popup-backdrop{
	animation: jc-fadeout 0.2s linear forwards;
	-webkit-animation: jc-fadeout 0.2s linear forwards;
	-moz-animation: jc-fadeout 0.2s linear forwards;
}

.jc-popup.show > .jc-popup-content{
	animation: jc-zoomin 0.2s linear forwards;
	-webkit-animation: jc-zoomin 0.2s linear forwards;
	-moz-animation: jc-zoomin 0.2s linear forwards;
}
.jc-popup.close > .jc-popup-content{
	animation: jc-zoomout 0.2s linear forwards;
	-webkit-animation: jc-zoomout 0.2s linear forwards;
	-moz-animation: jc-zoomout 0.2s linear forwards;
}

.jc-popup .jc-popup-content{
	background-color: #fff;
	width: 32em;
	max-width: 100%;
	max-height: 100%;
	border-radius: var(--jc-default-border-radius);
	z-index: 1100;
	padding: 25px 15px;
	word-break: break-word;
	text-align: center;
	box-shadow: 0 0 8px 0.125rem rgb(0 0 0 / 15%);
	overflow-x: hidden;
	overflow-y: auto;
}
.jc-popup .jc-popup-content::-webkit-scrollbar{
	width: 6px;
	height: 6px;
}
.jc-popup .jc-popup-content::-webkit-scrollbar-track{
	background: #eee; 
	border-top-right-radius: var(--jc-default-border-radius);
	border-bottom-right-radius: var(--jc-default-border-radius);
}
.jc-popup .jc-popup-content::-webkit-scrollbar-thumb{
	border-radius: var(--jc-default-border-radius);
	background: rgba(0, 0, 0, 0.25); 
}
.jc-popup .jc-popup-content::-webkit-scrollbar-thumb:hover{
	background: rgba(0, 0, 0, 0.3); 
}

.jc-popup .jc-popup-content .jc-popup-title{
	font-size: 2.25rem;
	font-weight: 700;
	padding: 4px 0;
	line-height: 1.25;
}

.jc-popup .jc-popup-content .jc-popup-message{
	font-size: 1.25rem;
	padding: 6px 0;
}

.jc-popup .jc-popup-content .jc-popup-html{
	text-align: left;
	padding: 6px 0;
}

.jc-popup .jc-popup-content .jc-popup-buttons{
	margin: 12px 0 0 0;
}

/* JC Modal */
.jc-modal-box{
	overflow: hidden;
}

.jc-modal{
	display: inline-flex;
	justify-content: center;
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1100;
	padding: 20px;
}

.jc-modal.show > .jc-modal-backdrop{
	animation: jc-fadein 0.2s linear forwards;
	-webkit-animation: jc-fadein 0.2s linear forwards;
	-moz-animation: jc-fadein 0.2s linear forwards;
}
.jc-modal.close > .jc-modal-backdrop{
	animation: jc-fadeout 0.2s linear forwards;
	-webkit-animation: jc-fadeout 0.2s linear forwards;
	-moz-animation: jc-fadeout 0.2s linear forwards;
}

.jc-modal.show > .jc-modal-content{
	animation: jc-zoomin 0.2s linear forwards;
	-webkit-animation: jc-zoomin 0.2s linear forwards;
	-moz-animation: jc-zoomin 0.2s linear forwards;
}
.jc-modal.close > .jc-modal-content{
	animation: jc-zoomout 0.2s linear forwards;
	-webkit-animation: jc-zoomout 0.2s linear forwards;
	-moz-animation: jc-zoomout 0.2s linear forwards;
}

.jc-modal .jc-modal-backdrop{
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.jc-modal .jc-modal-content{
	background-color: #fff;
	border: 1px solid var(--jc-default-border-color);
	border-radius: var(--jc-default-border-radius);
	z-index: 1110;
	box-shadow: 0 0 8px 0.125rem rgb(0 0 0 / 15%);
	overflow-x: hidden;
	overflow-y: hidden;
}

.jc-modal .jc-modal-content.jc-modal-xlarge{
	width: 60em !important;
}
.jc-modal .jc-modal-content.jc-modal-large{
	width: 50em !important;
}
.jc-modal .jc-modal-content.jc-modal-medium{
	width: 40em !important;
}
.jc-modal .jc-modal-content.jc-modal-small{
	width: 30em !important;
}

.jc-modal .jc-modal-content .jc-modal-header{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 15px;
	border-bottom: 1px solid var(--jc-default-border-color)
}
.jc-modal .jc-modal-content .jc-modal-header .jc-modal-title{
	font-size: 1.25rem;
	font-weight: bold;
	color: var(--jc-black);
	text-align: left;
	line-height: 1.5;
	width: 90%;
	padding: 0;
	margin: 0;
}
.jc-modal .jc-modal-content .jc-modal-header .jc-modal-close-button{
	fill: var(--jc-white-darken-3);
	text-align: right;
	cursor: pointer;
	width: 10%;
	padding: 0;
	margin: 0;
}
.jc-modal .jc-modal-content .jc-modal-header .jc-modal-close-button:hover{
	fill: var(--jc-black);
}

.jc-modal .jc-modal-content .jc-modal-body{
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	padding: 15px;
	color: var(--jc-black);
	text-align: left;
	word-break: break-word;
	overflow-x: hidden;
	overflow-y: auto;
}
.jc-modal .jc-modal-content .jc-modal-body::-webkit-scrollbar{
	width: 6px;
	height: 6px;
}
.jc-modal .jc-modal-content .jc-modal-body::-webkit-scrollbar-track{
	background: #eee; 
}
.jc-modal .jc-modal-content .jc-modal-body::-webkit-scrollbar-thumb{
	background: rgba(0, 0, 0, 0.25); 
}
.jc-modal .jc-modal-content .jc-modal-body::-webkit-scrollbar-thumb:hover{
	background: rgba(0, 0, 0, 0.3); 
}

.jc-modal .jc-modal-content .jc-modal-footer{
	width: 100%;
	color: var(--jc-black);
	text-align: right;
	padding: 15px;
	border-top: 1px solid var(--jc-default-border-color)
}

/* JC Loading Overlay */
.jc-loading-overlay{
	overflow: hidden;
}
.jc-loading-overlay.show{
	animation: jc-fadein 0.2s linear forwards;
	-webkit-animation: jc-fadein 0.2s linear forwards;
	-moz-animation: jc-fadein 0.2s linear forwards;
}
.jc-loading-overlay.close{
	animation: jc-fadeout 0.2s linear forwards;
	-webkit-animation: jc-fadeout 0.2s linear forwards;
	-moz-animation: jc-fadeout 0.2s linear forwards;
}

.jc-loading-overlay-backdrop{
	z-index: 10001;
	background-color: rgba(255, 255, 255, 0.75);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.jc-loading-overlay .jc-loading-overlay-content{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10002;
	padding: 20px;
	color: var(--jc-black);
}

.jc-loading-overlay .jc-loading-overlay-content .jc-loading-overlay-text{
	font-size: 1.5rem;
	text-align: center;
	font-style: italic;
	padding: 0;
	margin: 0;
}
